.input-block {
  display: flex;
  flex-direction: column;

  width: clamp(200px, 100%, 250px);
}

.input-label {
  font-size: 0.95rem;
  margin-bottom: var(--margin-small);

  margin-left: var(--margin-small);
}

.input-input {
  height: calc(var(--margin-small) * 5);
  border-radius: var(--border-radius);

  border: 1px solid red;
  padding-left: var(--margin-small);
}
