.input-block {
  display: flex;
  flex-direction: column;

  width: var(--small-width);
}

.input-label {
  font-size: 0.95rem;
  margin: var(--margin-small);
  margin-top: calc(var(--margin-small) * 4);
}

.input-input {
  height: calc(var(--margin-small) * 5);

  padding-left: var(--margin-small);
  padding-right: var(--margin-small);

  border: 2px solid var(--orange);
  border-radius: var(--border-radius);
}

.input-input::-webkit-outer-spin-button,
.input-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
