.input-block {
  display: flex;
  flex-direction: column;

  width: var(--small-width);

  position: relative;

  padding-bottom: 8px;
}

.input-label {
  margin: var(--margin-small);
  margin-top: calc(var(--margin-small) * 4);
}

.input-input {
  height: calc(var(--margin-small) * 5);

  padding-left: var(--margin-small);
  padding-right: var(--margin-small);

  border: 2px solid var(--orange);
  border-radius: var(--border-radius);
}

.input-input::-webkit-outer-spin-button,
.input-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-input:focus {
  outline: var(--input-normal-outline);
}

.input-warning {
  color: var(--red);
  font-size: 0.8rem;
  margin-top: 8px;

  position: absolute;
  bottom: -15%;
  left: var(--margin-small);
}
