.form-card {
  height: 600px;
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 40px;

  background-color: var(--black);

  color: var(--white-yellow-tint);

  /* box-shadow: 0 10px 60px #262626aa; */
  box-shadow: 0 10px 60px #dddddd33;

  border: 1px solid #dddddd88;
}
