.form-card {
  position: relative;

  gap: var(--margin-large);

  display: flex;

  background-color: var(--black);

  color: var(--white-yellow-tint);
}

.form-children {
  display: flex;
  flex-direction: column;
}
