.textarea-block {
  display: flex;
  flex-direction: column;

  width: clamp(200px, 100%, 250px);
}

.textarea-label {
  font-size: 0.95rem;
  margin: var(--margin-small);
  margin-top: calc(var(--margin-small) * 4);
}

.textarea-textarea {
  height: calc(var(--margin-large) * 1.7);
  width: calc(var(--margin-large) * 6.5);

  padding-left: var(--margin-small);
  padding-right: var(--margin-small);
  padding-top: var(--margin-small);

  border: 2px solid var(--orange);
  border-radius: var(--border-radius);

  font-family: var(--main-fonts);

  resize: none;
}

.textarea-textarea::-webkit-outer-spin-button,
.textarea-textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea-textarea:focus {
  outline: 2px solid var(--yellow);
}
