.textarea-block {
  display: flex;
  flex-direction: column;

  position: relative;
}

.textarea-label {
  font-size: 0.95rem;
  margin: var(--margin-small);
  margin-top: calc(var(--margin-small) * 4);
}

.textarea-textarea {
  height: var(--textarea-height);

  padding-left: var(--margin-small);
  padding-right: var(--margin-small);
  padding-top: var(--margin-small);

  border: 2px solid var(--orange);
  border-radius: var(--border-radius);

  font-family: var(--main-fonts);

  resize: none;
}

.textarea-textarea::-webkit-outer-spin-button,
.textarea-textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea-textarea:focus {
  outline: 2px solid var(--yellow);
}

.length-and-warning {
  display: flex;
  gap: var(--margin-small);

  position: absolute;

  bottom: calc(var(--margin-small) * -3.5);
  right: var(--margin-small);

  font-size: 0.8rem;
}

.length-and-warning > * {
  display: inline-flex;
}

.textarea__input-warning {
  color: var(--red);
}

.length-indicator {
  color: gray;
}
