.buttons-block {
  grid-column: 1 / span 2;
  /* justify-self: start; */
  margin-top: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: calc(var(--margin-medium) / 2);
}

[class|="buttons-block__button"] {
  height: var(--small-height);
  width: var(--small-width);

  border-radius: var(--border-radius);
  font-family: var(--main-fonts);

  background-color: var(--yellow);

  border: none;
}

[class|="buttons-block__button"]:hover,
[class|="buttons-block__button"]:active {
  background-color: var(--white-yellow-tint);
}

.buttons-block__button--cancel {
  background-color: var(--white);
}
