.wrapper {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  gap: var(--margin-medium);

  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.submitted-info {
  margin-top: var(--margin-small);
  background-color: var(--black);
  color: var(--white);
  padding: var(--margin-medium) var(--margin-large);

  width: clamp(400px, 100%, 1000px);
}

.textarea-strong {
  margin-bottom: var(--margin-small);
}

.submitted-info > p {
  margin: var(--margin-medium);
}

.submitted-info strong {
  color: var(--yellow);
}
