:root {
  --margin-small: 6px;
  --margin-medium: 35px;
  --margin-large: 64px;

  --border-radius: 6px;

  --small-height: 28px;
  --small-width: 236px;

  --bio-card-height: 470px;

  --yellow: #fdfd2d;
  --orange: #eda559;
  --black: #262626;
  --white: #ddd;
  --white-yellow-tint: #ffffd5;

  --main-fonts: Inter, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--main-fonts);
}

body {
  font-family: var(--main-fonts);
  font-size: 18px;

  background: linear-gradient(0deg, #eda559 0%, #fdfd2d 100%);
}
