/* colour palette: https://coolors.co/fdfd2d-eda559-262626-92d1c3-8bb8a8 */
:root {
  --margin-small: 6px;
  --margin-medium: 35px;
  --margin-large: 64px;

  --border-radius: 6px;

  --small-height: 28px;
  --small-width: 236px;

  --bio-card-height: calc(var(--textarea-height) * 3.86);
  --bio-card-width: 350px;
  --big-form-height: 700px;
  --textarea-height: 140px;

  --yellow: #fdfd2d;
  --orange: #eda559;
  --black: #262626;
  --white: #ddd;
  --red: #ff5d73;
  --white-yellow-tint: #ffffd5;

  --main-fonts: Inter, Arial, sans-serif;

  --input-warning-outline: 1px solid var(--red);
  --input-normal-outline: 1px solid var(--yellow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--main-fonts);
}

body {
  font-family: var(--main-fonts);
  font-size: 18px;

  background: linear-gradient(0deg, #eda559 0%, #fdfd2d 100%);
}

h1 {
  color: var(--black);
}

[for="name-input"] {
  margin-top: 0;
}

.bio-card > div:nth-child(1) > label {
  margin-top: 0;
}
